/* ------ General Styles ------- */
html {
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
	font-size: 15px;
}
body {
	margin: 0;
	font-size: 1.4rem;
}
ul {
	list-style-type: none;
}
section:nth-child(odd) {
	background: #f4f4f4;
}
div.container {
	max-width: 80%;
	text-align: center;
	margin: 0 auto;
	/* border: 1px solid red; */
}
div.txt_sect {
	margin: 55px auto 0;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 20px;
	max-width: 70%;
}
hr {
	margin-bottom: 60px;
	width: 20%;
	color: DodgerBlue;
}
@media screen and (max-width: 1200px) {
	html {
		font-size: 14px;
	}	
}
@media screen and (max-width: 900px) {
	html {
		font-size: 13px;
	}
	div.container {
		max-width: 90%;
	}
	div.txt_sect {
		margin: 20px auto 0;
	}
}
@media screen and (max-width: 600px) {
	html {
		font-size: 12px;
	}
	div.container {
		max-width: 95%;
	}
	div.txt_sect {
		margin: 0 auto;
		max-width: 90%;
	}
	hr {
		width: 40%;
	}
}
/* ------ Header Styles ------- */
header {
	background: url('../img/main.jpg') center;
	height: 100vh;
	background-size: cover;
	background-color: #80a3db;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.1rem;
	animation: 1s fadeIn 0.1s forwards;
	opacity: 0;
	font-family: 'Quicksand', sans-serif;
}
a {
	opacity: 1;
	text-decoration: none;
	color: white;
	transition: color 0.2s;
}
a:hover {
	opacity: 1;
	color: slateblue;
}
div.header {
	text-align: center;
	padding-top: 25vh;
	color: white;
	animation: 1s goUp_fadeIn 0.5s forwards;
	opacity: 0;
	margin-top: 100px;
}
@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}
@keyframes goUp_fadeIn {
	100% {
		opacity: 1;
		margin: 0px;
	}
}
div.header > h1 {
	margin-bottom: 0.8rem;
}
div.header > p {
	margin: 0 0 2.5rem;
}
a[type="button"] {
	font-size: 1rem;
	background: darkslateblue;
	border: 2px solid slateblue;
	border-radius: 0.4rem;
	color: white;
	letter-spacing: 1px;
	padding: 1rem 2rem;
	cursor: pointer;
}
a[type="button"]:hover {
	background: slateblue;
	border: 2px solid darkslateblue;
}
.nav-left {
	margin-left: 8%;
	font-size: 1.8rem;
}
.nav-right {
	margin-right: 8%;
	font-size: 1.6rem;
}
.nav-right > * {
	margin-right: 10px;
}
@media screen and (max-width: 600px) {
	nav {
		flex-direction: column;
	}
	.nav-left {
		margin: 0;
	}
	.nav-right {
		margin: 10px 0;
	}
}
/* ------ Destination Styles ------- */

ul.grid_images {
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* border: 1px solid purple; */
}

ul.grid_images li {
	height: 350px;
	padding: 15px;
	box-sizing: border-box;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

li.small {
	flex-basis: 30%;
}
li.large {
	flex-basis: 70%;
}
@media screen and (max-width: 1000px) {
	ul.grid_images li {
		height: 200px;
		padding: 10px;
	}
	li.small {
		flex-basis: 50%;
	}
	li.large {
		flex-basis: 50%;
	}
}
@media screen and (max-width: 700px) {
	ul.grid_images li {
		height: 250px;
	}
	li.small {
		flex-basis: 100%;
	}
	li.large {
		flex-basis: 100%;
	}
}
/* ------ Packages Styles ------- */

section.packages ul {
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* border: 1px solid purple; */
}
section.packages .grid_packages li {
	flex-basis: 50%;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
	/* border: 1px solid blue; */
}
section.packages .grid_packages li p {
	font-size: 1.2rem;
}
section.packages .grid_packages i {
	color: DodgerBlue;
}

section.packages .grid_packages h2 {
	margin: 1.3rem 0;
}


@media screen and (max-width: 900px) {
	section.packages .grid_packages li {
		flex-basis: 100%;
	}
}
/* ------ Opinions Styles ------- */

section.opinions div p {
	margin-top: 50px;
}
small {
	font-style: italic;
}
/* ------ Learn More Styles  ------- */
section.learnMore hr {
	margin-top: 40px;
}

section.learnMore input {
	width: 50%;
	display: inline-block;
	padding: 11px;
	margin: 0 15px 10px 0px;
	/* margin-bottom: 10px; */
}
section.learnMore button {
	margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
	section.learnMore input {
		width: 80%;
		margin: 10px;
	}
}
/* ------ Footer Styles  ------- */
footer {
	background: #607d8b;
	color: white;
}
footer p {
	font-size: 1.1rem;
	opacity: 0.7;
	margin: 0;
	padding-top: 1.4rem;
}
footer ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0.7rem 0;
}
footer li {
	padding: 0.5rem;
}
footer p > a {
	color: Turquoise;
	text-decoration: underline;
}
